<!DOCTYPE html>
<html>
<head>
  <title>GradeBook</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
  
  
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="page">
  <div id="header">
    <h1>GradeBook</h1>
  </div>
  <div id="navigation">
    <ul class="right">
      <% if current_user then %>
        <li>You are: <%= current_username %></li>
        <li>Account Type: <%= current_usertype %></li>
        <li><%= link_to "Sign Out", "/signout" %></li>
      <% else %>
        <li><%= link_to "Sign In", "/signin" %></li>
        <li><%= link_to "Create Account", new_user_path %></li>
      <% end %>
    </ul>
    
    <ul>
      <% if current_user then %>
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Assignment", assignments_path %></li>
        <li><%= link_to "Submissions", submissions_path %></li>
      <% else %>
        &nbsp;
      <% end %>
    </ul>
  </div>
  
  <% if flash["error"] then %>
    <div style="padding:10px">
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash["error"] %>
      </div>
    </div>
  <% end %>
  
  <% if notice then %>
    <div style="padding:10px">
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
    </div>
  <% end %>
  
  
  
  <div id="content">
  <%= yield %>  
  </div>
  <div id="footer">
    
  </div>
</div>





</body>
</html>
